jupyter
ipykernel
numpy
pandas
matplotlib
scipy
scikit-learn
seaborn
plotly
statsmodels
xgboost
lightgbm
catboost
imbalanced-learn
joblib

notebook
jupyterlab

openpyxl
xlrd
xlsxwriter

requests
beautifulsoup4
lxml

tqdm

tensorflow
torch
torchvision

opencv-python
pillow

nltk
spacy
transformers
datasets

python-dotenv